[Unit]
Description=Relaunch desktop theme scheduler
Requires=default.target

[Service]
Type=simple
EnvironmentFile=/run/user/%U/envfile
ExecStart=/usr/bin/env relaunch schedule_themes